body{
	padding: 0;
	margin: 0;	
	width: 100vw;
	height: 100vh;	
    background: linear-gradient(
        105deg,
        #88beee ,
        #0a2e73)
}

.wrapper{
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

  }

.welcome{
    background: white;
    padding: 25px;
    border-radius: 5px;
    width: 600px;
}

.welcomemsg
{
    background: rgb(205, 205, 205);
    padding: 5px;
    border-radius: 5px;
    width: 600px;
}